:root {
    --font-color: #333;
    --link-color: #61A5E4;
}

body, html {
    font-family: "Noto Sans", "Lucida Grande", "Lucida Sans", "Segoe UI", sans-serif;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 100%;
}